*{
    background-color: darkgreen;
    color: #ffffff;
}
body{
    height: 100vh;
}
.name{
    text-align: center;
    border:dashed
}
.box{
    width: 45%;
    padding: 40px 30px;
    position: absolute;
    min-width: 500px;
    border-radius: 20px;
    left: 25%;
    background-color: darkolivegreen;
    border:dashed
}
.scores_area{
    text-align: center;
    margin-bottom: 50px;
    background-color: darkolivegreen;
    color: #ffffff;
}
.Weapons{
    min-width: 250px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 90%;
    background-color: darkolivegreen;
}
.Weapons button{
    height: 100px;
    border: none;
    font-size: 50px;
    width: 100px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
.choices{
    margin-top: 30px;
    text-align: center;
}
#result{
    width: 180px;
    padding: 10px;
    margin: auto;
    letter-spacing: 1px;
}
#user,
#computer{
    font-weight: 400;
    margin-bottom: 10px;
}
footer{
    top: 90%;
    text-align: center;
    flex: auto;
    position: relative;
}