header{
    display: flex;
    justify-content: center;
    background-color: darkolivegreen;
    border-radius: 15%;
}
body{
    height: 100vh;
    background-color: darkgreen;
    color: #ffffff;
}
.name{
    text-align: center;
    border:dashed;
    border-radius: 8%;
}
.box{
    border-radius: 20px;
    background-color: darkolivegreen;
    border:dashed
}
.scores_area{
    background-color: darkolivegreen;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Weapons{
    min-width: 250px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 90%;
    background-color: darkolivegreen;
}
.Weapons button{
    height: 100px;
    border: none;
    font-size: 50px;
    width: 100px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: dashed;
    background-color: darkgreen;
    color: #ffffff;
}
p{
    width: fit-content;
}
.choices{
    text-align: center;
    background-color: darkolivegreen;
    border-radius: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#result{
    width: 180px;
    margin: auto;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
#user,
#computer{
    font-weight: 400;
    margin-bottom: 10px;
}
footer{
    text-align: center;
    position: relative;
    background-color: darkolivegreen;
    border-radius: 10%;
    border:dashed;
    margin-top: 20px;
}